.header
{
    background-color:#808080;
}
.search-bar
{
    text-align: center;
    margin-top: 15px;
}
.section{
    border:1px solid wheat;
    height: 400px;

}
.bodySection
{
    margin-top:10px;
}